.nav {
  background: linear-gradient(to right, rgba(22, 34, 42, .9), rgba(58, 96, 115, .9));;
  height: 70px;
  padding: 0px 90px;
}

.nav .brand {
  font-size: 35px;
}

.nav .categorie {
  font-size: 20px;
}

.nav a {
  color: var(--text-color);
  text-decoration: underline 0.225em var(--accent-color-opacity);
  transition: text-decoration-color 300ms;
}

.nav a:hover {
  text-decoration-color: var(--accent-color);
}