.lugar h1 {
  color: var(--accent-color);
  font-size: 50px;
  opacity: 0;
  transform: translateX(-20px);
  animation: slide-fade 0.7s 0.2s 1 normal ease forwards;
}

.lugar > div {
  margin-top: 50px;
  opacity: 0;
  transform: translateX(-20px);
  animation: slide-fade 0.7s 0.5s 1 normal ease forwards;
}

.lugar .place-thumbnail {
    height: 100%;
    width: 100%;
    background-color: var(--accent-color);
    border: none;
}

.lugar input {
  max-width: 257px;
}

.lugar button {
  max-width: 96px;
}

.lugar .card {
  max-width: 636px;
}

.skip_nav {
    background-color: red;
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
} 
   
.skip_nav a:focus
  {
    background-color: red;
    position:static;
    left:20px;
    top:10px;
    width:100px;
    height:100px;
  }

.lugar .tags, .description {
  font-size: 25px;
}