.home {
  height: 100%;
}

.home .img {
  height: 80%;
}

.home img {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border: none;
}

.skip_nav {
  background-color: red;
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

 
.skip_nav a:focus
{
  background-color: red;
  position:static;
  width:auto;
  height:auto;
}

@media (min-width: 1200px) {
  .home img {
    max-width: 490px !important;
  }
}

@media (min-width: 760px) and (max-width: 1200px) {
  .home img {
    max-width: 570px !important;
  }
}