.categories h1 {
  margin-top: 40px;
  color: var(--accent-color);
  font-size: 50px;
  opacity: 0;
  transform: translateX(-20px);
  animation: slide-fade 0.7s 0.2s 1 normal ease forwards;
}

.submitButton {
  max-width: 100px;
}

.searchName {
  max-width: 300px;
  max-height: 50px;
}