.register-place h1 {
  margin-top: 40px;
  color: var(--accent-color);
  font-size: 50px;
  opacity: 0;
  transform: translateX(-20px);
  animation: slide-fade 0.7s 0.2s 1 normal ease forwards;
}

.register-place form {
  opacity: 0;
  transform: translateX(-20px);
  animation: slide-fade 0.7s 0.5s 1 normal ease forwards;
}

.register-place input[type='text'] {
  min-width: 275px;
  max-width: 400px;
}

.register-place input, select, textarea {
  display: block;
}
.register-place ul {
  list-style-type: none;
  padding: 0;
}

.register-place input[type='file'] {
  display: none;
}

.register-place .imagePreview {
  border: solid 3px var(--accent-color);
  min-height: 100%;
}

.register-place button {
  background-color: transparent;
  font-size: 25px;
  min-width: 275px;
  padding: 15px 25px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  text-decoration: none;
  color: var(--accent-color);
  transition: all .3s linear;
}

.register-place button:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.register-place div > label {
  font-size: 25px;
}