.register-place h1 {
  opacity: 0;
  transform: translateX(-20px);
  animation: slide-fade 0.7s 0.2s 1 normal ease forwards;
}

.register-place form {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-fade 0.7s 0.5s 1 normal ease forwards;
}

.register-place ul {
  list-style-type: none;
}

.register-place li{
  font-size: 20px;
  margin-bottom: 20px;
}

.register-place .especifico {
  font-size: 20px;
}

.register-place input[type='file'] {
  display: none;
}
.register-place input{
  border-radius: 5px;
  color:black;
  max-width: 45%;
  }

.register-place select{
  color:black;
  max-width: 45%;
}

.register-place .especifico{
  width: 300px;
}

.register-placeoption{
  color:black;
}
.register-place textarea {
  padding: 10px;
  max-width:45%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  color:black
}

.register-place label {
  display: block;
  margin-bottom: 10px;
}

.register-place img {
  height: 100%;
  width: 100%;
  background-color: var(--accent-color);
  border: none;
}

.register-place .imagePreview {
  border: solid 3px var(--accent-color);
  min-height: 100%;
}